@import '_variables';

.card-course-item {
    margin-top: 11px;
}
.card-img-top {
    width: 110px; /* Hoặc số cụ thể: 200px, 300px,... */
    height: 90px; /* Giữ tỉ lệ ảnh */
    object-fit: cover; /* Cắt ảnh để vừa với kích thước */
}
